.navbar {
     .nav_links {
          @include inline-flex(row, center, center, nowrap, 1.5rem);

          @media (width < 1200px) {
               display: grid;
               grid-template-columns: repeat(3, 1fr);
               gap: 0;
          }

          .link {
               height: 3.125rem;
               width: 3.125rem;
               background: linear-gradient(90deg, var(--primary-light) 0%, var(--primary-dark) 103%);

               @include inline-flex(row, center, center, nowrap, 1.5rem);
               position: relative;
               z-index: 0;
               box-shadow: 0rem 0.25rem 1.875rem -0.0625rem #ffe69e10;

               &::before {
                    content: "";
                    position: absolute;
                    inset: 0.125rem;
                    background: var(--black-800);

                    z-index: -1;
                    transition: var(--transition-normal);
               }

               &,
               &::before {
                    border-radius: var(--radius-full);
               }

               &:hover {
                    &::before {
                         background: var(--black-600);
                    }
               }
          }

          li:has(.mobile_link) {
               height: 100%;

               .mobile_link {
                    @include inline-flex(column, center, center, nowrap);
                    width: 100%;
                    height: 100%;
                    padding-top: 0.25rem;

                    img {
                         margin-bottom: 1rem;
                         height: 1.875rem;
                         width: 1.875rem;
                    }

                    .title {
                         font-size: var(--fs-base);
                         font-weight: 400;
                         text-wrap: nowrap;
                    }
               }

               &:not(:last-child) {
                    position: relative;

                    &::after {
                         position: absolute;
                         content: "";
                         top: 50%;
                         right: 0;
                         transform: translateY(-50%);
                         width: 1px;
                         height: 2.5rem;
                         background: var(--border-200);

                         @media (width < 575px) {
                              display: none;
                         }
                    }
               }
          }
     }

     @media (width < 1200px) {
          width: 100%;
     }
}
