.mobile_bar { 
     position: fixed;
     bottom: var(--footer-mobile-height);
     left: 50%;
     width: 100%;
     transform: translateX(-50%);
     z-index: var(--mobile-bar-z-index);
     padding: 0;
     background: var(--black-800);
     height: var(--menubar-height);
     display: flex;
     align-items: center;
     border-top: 1px solid var(--border-200);
}
